<div id="footer">
    <div class="container">
        <div class="top_foot">
            <div class="foot_link">
                <dl class="about_list">
                    <dt>关于悍特</dt>
                    <dd><a href="/about/">概况</a></dd>
                    <!-- <dd><a href="/about/">价值</a></dd>
                    <dd><a href="/about/">历程</a></dd>
                    <dd><a href="/about/">荣誉</a></dd> -->
                </dl>
                <dl class="research_list">
                    <dt>服务模式</dt>
                    <dd><a href="/service-advantage">服务优势</a></dd>
                    <dd><a href="/service-flow">服务流程</a></dd>
                </dl>
                <dl class="research_list">
                    <dt>成功案例</dt>
                    <dd><a href="/success-case">案例分享</a></dd>
                </dl>
                <dl class="contact_list ">
                    <dt>联系我们</dt>
                    <dd><a href="/about/">关于我们 </a></dd>
                </dl>
            </div>
            <!-- <img src="{{ site.BASE_PATH }}/assets/images/qr_code.jpg" alt="" class="qr_code"> -->
            <!-- <div class="contact_message">
                <dt><i class="icon icon-footer_phone" style="margin-left:0;"></i>联系电话：</dt>
                <dd class="tel">021-33879487</dd>
                <dt><i class="icon icon-footer_email" style="margin-left:0;"></i>Email：</dt>
                <dd>hunter@mindhunt.com.cn</dd>
            </div> -->
        </div>
        <div class="bottom_foot">
            <i class="icon icon-footer_border"></i>
            <!-- <p style="font-size:12px; color:#949494;">
               上海/ (你们公司有那么多分公司吗，哈哈)
            </p> -->
            <p style="font-size:12px; color:#949494;">©2016 上海悍特企业管理咨询有限公司</p>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ site.BASE_PATH }}/assets/bootstrap/js/bootstrap.min.js">