<div id="footer">
    <div class="container">
        <div class="top_foot">
            <div class="foot_link">
                <dl class="about_list">
                    <dt>关于美瀚</dt>
                    <dd><a href="/about/">概况</a></dd>
                    <dd><a href="/about/">价值</a></dd>
                    <dd><a href="/about/">历程</a></dd>
                    <dd><a href="/about/">荣誉</a></dd>
                </dl>
                <dl class="research_list">
                    <dt>人才研究所</dt>
                    <dd><a href="#">高尚生活圈</a></dd>
                    <dd><a href="#">高端人才管理论坛</a></dd>
                    <dd><a href="#">HR精英俱乐部</a></dd>
                    <dd><a href="#">美瀚资讯</a></dd>
                </dl>
                <dl class="contact_list ">
                    <dt>联系我们</dt>
                    <dd><a href="#">国内分公司</a></dd>

                    <dd><a href="#">投诉反馈</a></dd>
                    <dd><a href="#">加入美瀚</a></dd>
                     <dd><a href="#"> &nbsp; &nbsp; &nbsp; &nbsp;</a></dd>
                </dl>
            </div>
            <img src="{{ site.BASE_PATH }}/assets/images/qr_code.jpg" alt="" class="qr_code">
            <div class="contact_message">
                <dt><i class="icon icon-footer_phone" style="margin-left:0;"></i>全国客服电话：</dt>
                <dd class="tel">400-078-5156</dd>
                <dt><i class="icon icon-footer_email" style="margin-left:0;"></i>Email：</dt>
                <dd>hunter@mindhunt.com.cn</dd>
            </div>
        </div>
        <div class="bottom_foot">
            <i class="icon icon-footer_border"></i>
            <p style="font-size:12px; color:#949494;">
               上海/ (你们公司有那么多分公司吗，哈哈)
            </p>
            <p style="font-size:12px; color:#949494;">©2016（这里可以放网站的备案信息，如果要备案的话）   人力资源服务许可证：这里要换你们公司的服务许可证哦</p>
        </div>
    </div>
</div>