<div id="header">
    <div class="container">
        <div id="logo_box">
            <a href="#" title="智通美瀚，您身边的猎头" style="color:inherit">
                <img src="{{ site.BASE_PATH }}/assets/images/logo.png" alt="logo">
                <i class="logo_word">悍特猎头，您身边的猎头</i>
            </a>
        </div>
        <div id="menu">
            <a href="/" class="nav_a nav_active">首页<div class="word_en">HOME</div></a>
            <a href="/" class="nav_a ">人才商城<div class="word_en">TALENT SHOP</div></a>
            <a href="/" class="nav_a ">高端职位<div class="word_en">HIGH-END JOBS</div></a>
        </div>
    </div>
</div>