<div id="header">
    <div class="container">
        <div id="logo_box">
            <a href="#" title="智通美瀚，您身边的猎头" style="color:inherit">
                <img src="{{ site.BASE_PATH }}/assets/images/logo.png" alt="logo" width="174px" height="41px" />
                <i class="logo_word">悍特猎头，您身边的猎头</i>
            </a>
        </div>
        <div id="menu">
            <a href="/" class="nav_a {% if page.url == '/' %}nav_active{% endif %}">首页<div class="word_en">HOME</div></a>
            <div class="nav_a nav-x {% if page.url contains '/service'%}nav_active{% endif %}">
                <a href="javascript:;" class="zhizhen">
                    服务模式<div class="word_en">SERVICE MODEL</div>
                </a>
                <div class="innner">
                    <div class="arrow"></div>
                    <a href="/service-advantage">服务优势</a>
                    <a href="/service-flow">服务流程</a>
                </div>
            </div>
            <a href="/success-case" class="nav_a {% if page.url contains '/success' %}nav_active{% endif %}">成功案例<div class="word_en">SUCCESS CASE</div></a>
            <a href="/about" class="nav_a {% if page.url == '/about/' %}nav_active{% endif %}">关于我们<div class="word_en">ABOUT US</div></a>
        </div>
    </div>
</div>